# SPDX-FileCopyrightText: 2023 Rivos Inc.
#
# SPDX-License-Identifier: Apache-2.0

name: linux-riscv-ci-patches

defaults:
  run:
    shell: bash -leo pipefail {0}

on: pull_request

jobs:
  build-patches:
    if:  ${{ !endsWith(github.head_ref, '_test') }}
    runs-on: self-hosted
    timeout-minutes: 50400 # 35 days
    container:
      image: ghcr.io/linux-riscv/pw-builder:latest
      volumes:
        - /home/github/ccache:/build/ccache
        - /home/github/gitref:/build/gitref
    steps:
      - name: Configure git
        run: |
          git config --global --add safe.directory '*'
      - name: Checkout git
        run: |
          mkdir -p /build/my-linux
          cd /build/my-linux
          git clone --filter=tree:0 --reference /build/gitref https://github.com/${{ github.repository }} .
          git fetch origin ${{ github.event.pull_request.head.sha }}
          git reset --hard ${{ github.event.pull_request.head.sha }}
          git log -1
      - name: Run checks
        run: |
          cd /build/my-linux && bash .github/scripts/patches.sh
